body{
    background-color: red;
}

h1#titolInici{
    width: 50%;
    color: red;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: white;
    border: 2px solid red;
}

div#paragrafInici{
    width: 80%;
    border: 1px solid black;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #f2e7c3;
}
p#paragrafInici{
    width: 80%;
    border: 1px solid black;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #f2e7c3;
}

.imatgeInici{
    width: 400px;
    margin: 10px;
}

div#paragrafInici{
    width: 80%;
    border: 1px solid black;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #f2e7c3;
    
}

div#paragrafInici li{
    list-style: none;
}

div#paragrafInici ul{
    margin: auto;
    width: 35%;
}

div#paragrafInici ul li{
    padding: 1%;
    border: 2px solid black;
    background-color: #f2db98;
}

div#paragrafInici ul li a{
    border: 2px solid black;
    background-color: lightgrey;
    width: 50%;
    padding: 1%;
    margin: auto;

}

.contactes{
    border: 2px solid black;
    margin: 5px auto;
    width: 60%;
    font-size: 2em;
    color: white;
    background-color: olive;
    text-align: start;
    padding: 10px;
}

.contactes div#membres_equip{
    display: block;
    margin: auto 10% auto;
}

.contactes div#membres_equip li{
    margin: 10px auto;
    background-color: aliceblue;
    color: aquamarine;
    padding: 1%;
    text-transform: uppercase;
}

p#no_trobat{
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

h2#titolImatge{
    color: rgb(150, 0, 0);
}

img.lapiz{  
    width: 30px;
    margin: auto;
    padding: 2px;  
}

div#paragrafSecundari{
    width: 80%;
    border: 1px solid black;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #f2e7c3;
    display: flex;
    justify-content: center;
    margin: 5px auto;
}

#paragrafSecundari > a{
    margin: auto;
    text-decoration: none;
    margin-right: 30%;
    width: 40%;
}

img#logo_avatar{
    margin-left: 45%;
    width: 10%;
}