h1#titolInici{
    width: 50%;
    color: red;
    border: 1px solid red;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}

h2#titolSecundari{
    width: 50%;
    color: red;
    border: solid red 1px;
    margin: 10px auto;
    text-align:center;
    padding:10px;
    background-color:white;
    }


p#paragrafInici{
    width: 80%;
    border: 1px solid black;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #f2e7c3;
}

.imatgeInici{
    width: 400px;
    margin: 10px;
}

h1#titol_llista_equips{
    width: 50%;
    color: blue;
    border: 1px solid black;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #f2e7c3;
}


div.caja1 > #llista_equips{
    width: 80%;
    border: 1px solid black;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #f2e7c3;
}

#llista_equips {
    list-style: none;   
    display: block;
    margin: 10px 10px 10px 10px;
}

#llista_equips > div {
    display: inline-block;
    width: 50%;

    border: 2px solid black;
    text-decoration: none;
    padding: 1%;
    text-align: center;
    color: aqua;
}

img.lapiz{  
    width: 30px;
    margin: auto;
    padding: 2px;  

}

.exception{
    border:2px solid red;
    padding: 5px;
    background-color: lightblue;
    width:55%;
    margin: auto;
}