nav{
    background-color: aqua;
}

ul,ol{
    list-style: none;
}

nav li a{
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav > li {
    float: left;
}

nav li ul {
    background-color: azure;
    display: none;
    position: absolute;
    min-width: 150px;
}

nav li:hover > ul {
    display: block;
}

nav li ul li {
    position: relative;
}

nav li ul li ul{
    right: -170px;
    top: 0px;
}